@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
    
* 
    margin: 0
    padding: 0
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    font-size: 16px

a
    display: block
    text-decoration: none
    color: #000000

ul 
    list-style-type: none

h2 
    font-size: 2rem
    font-weight: 300

img 
    display: block
    max-width: 100%
    height: auto

.main
    padding-top: 75px

    @media screen and ( max-width:  1024px)
        padding-top: 55px

.wrapper
    margin: 0 auto
    width: 100%
    max-width: 1170px
    text-align: center