.header
    z-index: 20
    position: fixed
    top: 0
    left: 0
    padding: .75rem .4rem
    border-bottom: .5px solid #cccccc
    height: 75px
    width: 100%
    background: #ffffff

.nav
    margin: 0 auto
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    max-width: 1170px
    height: 100%

    &__logo img
        display: inline-block
        width: 100%
        max-width: 150px
        height: auto

    &__list

        &-item
            margin: 0 .9rem
            display: inline-block

        &-link
            transition: all .5s ease

        &-link:hover
            color: #3061FF

@keyframes fadeEffect 
    from 
        opacity: 0
    to 
        opacity: 1


@media screen and ( max-width:  1024px)

    .header
        padding: 0 .4rem
        height: 55px

    .nav

        &__list
            display: none
            position: fixed
            top: 55px
            left: 0
            padding: 1rem
            width: 250px
            height: calc(100vh - 75px)
            background: #ffffff
            animation: fadeEffect .5s

            &--active
                display: block

            &-item
                display: block
                margin: 0
                padding: 1rem 0
                border-bottom: .5px solid rgba(0, 0, 0, .1)

            &-item:nth-child(1)
                border-top: .5px solid rgba(0, 0, 0, .1)

        &__btn
            font-size: .9rem

@media screen and ( max-width:  425px)
     .nav

        &__logo img
            max-width: 140px

        &__btn
            font-size: .9rem